.post-title{
    h1{
        word-wrap: break-word;
    }
}

.single-content {
    
    @media only screen and (max-width:60rem) {
        width: 100%;
    }

    .single-style1 {
        margin-bottom: 1.5rem;
        
        .entry-meta {

            a {
                text-decoration: none;
            }
        }

        .post-thumbnail {
            margin-top: 1.5rem;
            img{
                max-width: 100%;
                width:100%;
            }
        }
    }
}

.form-submit{
    .submit{
        background: var(--primary-color);
        border: none;
        border-radius: 0;
        color: #fff;
        padding: 0 18px;
        line-height: 42px;
        height: 42px;
        display: inline-block;
        cursor: pointer;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 1px;
        outline: 0;
        -webkit-transition: .3s ease;
        transition: .3s ease;
    }
}

.post-navigation{
    padding: 10px;

    .nav-previous {
        
        a {
           text-decoration: none;
           color: var(--secondary-color);

        }
    }
}

#comments {

   .comment-list {
        margin: 0px;
        padding: 0px;
   }

   .comment-author {
        display: flex;
        align-items: center;
        margin: 1rem 0rem;

        img {
            margin-right: 0.625rem;
            border-radius: 2rem;
        }

        .fn {
            margin-right: 2px;
        }
   }

   .comment-meta {

        a {
            text-decoration: none;
        }
    }

   .reply {

        a {
            text-decoration: none;
        }
    }

   .logged-in-as {

        a {
            text-decoration: none; 
        }
    }
}