body.archive,
body.blog,
body.search {
    
    #primary article.blog-style1 {
        margin-top: 2.5rem;
        padding-bottom: 2rem;
        &.has-thumbnail .blog-row {
            @media only screen and (min-width: 48rem) {
                display: flex;
                column-gap: 2.5rem;
                .post-content {
                    width: 65%;
                }
                .thumbnail-wrapper-outer {
                    width: 35%;
                }
            }
        }

        &:not(:last-child) {
            border-bottom: solid 1px #eeeeee;
        }

        .entry-title {
            margin: 0 0 5px;
            line-clamp: 2;

            @media only screen and (max-width: 30rem){
                line-height: 120%;
            }
            a {
                text-decoration: none;
                font-weight: 400;
                color: var(--secondary-color);
                text-decoration: none;
                text-decoration-thickness: 3px;
                font-size: 1.55rem;
                line-clamp: 2;
                @media only screen and (max-width:480px){
                    font-size: 1.55rem;
                }
            }
        }
        .read-more{
            @extend .button;
            padding: 0;

            span {
                position: relative;
                color: var(--secondary-color);
            }

            &:before {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background: none;
            }

            &:hover {

                &:before {
                    filter: brightness(90%);
                }
            }
        }
        
        .entry-meta {

            a {
                text-decoration: none;
            }
        }

        .entry-footer {

            a {
                text-decoration: none;
            }
        }
        .entry-content,
        .entry-summary {
            color: var(--secondary-color);
        }

        .thumbnail-wrapper {
            display: block;
            img {
                width: 100%;
               
                object-fit: cover;
                @media only screen and (min-width:968px){
                    aspect-ratio: 3/2;
                }
            }
        }
        
    }
  }
