body.archive,
body.blog,
body.search {
    .card-layout {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        @media only screen and (max-width:968px){
            grid-template-columns: 1fr;
        }
    }
    
    #primary article.blog-style2 {
        margin: 0;
        .content-img-wrapper{
            overflow: hidden;
            height: 100%;
            transition: transform 0.3s ease;
            transition: transform 0.3s ease, -webkit-transform 0.3s ease;
            background-color: #FFFFFF;
            box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.1);
            border-radius: 7px;    
        }
                .post-content {
                    width: 100%;
                    padding: 1.5rem;
                   
                }

                .thumbnail-wrapper-outer {
                    width: 100%;
                    img{
                        max-width: 100%;
                        width: 100%;;
                    }
                }
            }
        }

        .entry-title {
            margin: 0 0 5px;
            font-size: 1.25rem;

            @media only screen and (max-width: 30rem){
                line-height: 120%;
            }

            a {
                text-decoration: none;
                font-weight: 600;
                color: var(--secondary-color);
                text-decoration: none;
                text-decoration-thickness: 3px;
                @media only screen and (max-width:480px){
                    font-size: 15px !important;
                }
            }
        }
        .read-more{
            @extend .button;
            padding: 0;

            span {
                position: relative;
                color: var(--secondary-color);
            }

            &:before {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-color: none;
            }

            &:hover {

                &:before {
                    filter: brightness(90%);
                }
            }
        }
        
        .entry-meta {
           
            a {
                text-decoration: none;
            }
        }

        .entry-footer {

            a {
                text-decoration: none;
            }
        }
        .entry-content,
        .entry-summary {
            margin-bottom: 1rem;
        }
        .thumbnail-wrapper {
            display: block;
            img {
                min-height: 100%;
            }
        }

