// Header Styling
.header {
    border-bottom: solid 1px rgba(0,0,0,0.1);
    position: sticky;
    z-index: 99;
    @media only screen and (max-width: 968px) {
        background-image: none;
    }
    .custom-logo {
        @media only screen and (min-width:968px){
            margin-top: 1.25rem;
            margin-bottom: 1.25rem;
        }
    }

    &__default {
       .top-wrapper{
        padding: 0.75rem 1.5rem;
       }
        .search__form-wrapper{
            display: none;
        }
        .site-branding {
            display: flex;
            
            @media only screen and (max-width: 968px){
                padding: .5rem 0;
            }
            .site-title{
                a {
                    text-decoration: none;
                    font-size: 1.5rem;
                    
                    font-weight: 700;
                }
            }

            h1{
                margin:0px;
            }
            p{
                margin:0px;
            }
            .site-description{
                display: none;
            }
        
            .custom-logo {
                margin: 0;
                max-width: 15.375rem; 
                @media screen and (min-width: 48rem) {
                    max-width: 15.375rem; 
                }
            }
        }
        .top-wrapper {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;

            @media (min-width: 48rem) {
                gap: 1.25rem;
            }
          
        }

        .main-navigation { 
            justify-content: flex-end;
            @media screen and (min-width: 60rem) {
                max-width: 60%;
            }
        }

        .search-icon
        {
            button, input[type="button"] {
                border: none;
                border-radius: 3px;
                background: none;
                color: var(--secondary-color);
                line-height: 1;
                padding: 0.6em 1em 0.4em;
                &:hover{
                    cursor: pointer;
                }
            }
        }
        .search-dk-mod-wrapper{
            @media only screen and (max-width: 968px){
                display: none;
            }
        }
    }

    &__center {
        .branding-wrapper{
            display: flex;
            justify-content: space-between;
            align-items: center;
             @media only screen and (min-width:968px){
                padding: 1.5rem;
             }

             @media only screen and (max-width: 968px) {
                justify-content: space-between;
               } 
      
            #searchform_header input[type=search]::placeholder {
                color:#9e9e9e;

            }
            .header-ad-banner{
                @media only screen and (max-width: 968px){
                    display: none;
                }
            }
            
           .site-branding{
                margin: 0;
                padding: .75rem 0;
                @media only screen and (min-width:968px){
                    padding: 1.5rem 0;
                }
                .site-description{
                    display: none;
                }
          
            .site-title{
                max-width: 240px;
                font-size: 2rem;
                line-height: 2rem;
                font-weight: 700;
                margin: 0;
                a{
                    text-decoration: none;
                }
                @media only screen and (max-width: 968px){
                    font-size: 1.5rem;
                    line-height: 1.5rem;
                }
            }
            
           }
        }

        .custom-logo {
            max-width: 240px;
            margin: 0;
        }
        .nav-wrapper {
            position: sticky;
            top: 0;

            @media only screen and (max-width: 968px) {
               display: none;
              } 
     
        @media only screen and (min-width: 968px) {
            background:var( --header-bg) ;
          } 

            .main-navigation {
                border-bottom: solid 1px rgba(0,0,0,0.1);

                @media screen and (min-width: 60rem) {
                    width: 90%;
                }
                
                li {
                    display: inline-block;
                    margin-right: 1.25rem;
                    &:last-child {
                        margin-right: 0;
                    }

                    a{
                        color: var(--light-color);
                        display: block;
                        position: relative;
                        padding: 0 16px;
                        margin: 0;
                        font-size: 1em;
                        line-height: 50px;
                        -webkit-transition: color .2s ease, background .2s ease;
                        transition: color .2s ease, background .2s ease;
                        white-space: nowrap;
                        &:active, &:focus, &:hover {
                            background: var(--light-color);
                            color: var(--primary-color);
                        }
                       }
                       .current_page_item,.current-menu-item{
                            background: var(--light-color);
                            color: var(--primary-color);
                        }
                }
                .sub-menu{
                    a{
                        color: var(--secondary-color);
                        font-weight: normal;
                    }
              
                }
            }

            .search {
                margin-left: 0;
               

                &__form-wrapper {
                    width: 100%;
                }
            }

            > * {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
            }
        }

        input[type=search] {
            left: 0;
            position: relative;

        }

        input[type=search]::placeholder {
            position: absolute;
        }
        .search__form-wrapper{
            display: none;
        }
        .search__button svg {
            width: 24px;
            height: 24px;
            transform: scale(1.01) !important;
            display: block;
          }
          

            }

    &__full {

        .site-branding{
            display: flex;
        }

        .custom-logo {
            max-width: 15.375rem; 
            margin: 0;
        }

        .mobile-btn {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .top-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: .55rem .75rem;
        }     
}

    &__top {

        .site-title{
            font-size: 1.5rem;
            line-height: 3rem;
            font-weight: 700;
            max-width: 240px;
            margin: 0;
            a{
                text-decoration: none;
            }
        }
        .top-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
         
            .main-navigation{
            @media only screen and (max-width: 968px) {
                padding: 0.75rem 1.5rem;
                display: none;
               }
               a{
                color: var(--light-color);
                display: block;
                position: relative;
                padding: 0 16px;
                margin: 0;
                font-size: 1em;
                line-height: 50px;
                -webkit-transition: color .2s ease, background .2s ease;
                transition: color .2s ease, background .2s ease;
                white-space: nowrap;
                &:active, &:focus, &:hover {
                    background: var(--light-color);
                    color: var(--primary-color);
                }
               }
            }

            .sub-menu{
                a{
                    color: var(--secondary-color);
                    font-weight: normal;
                }
            }

            > * {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            @media (min-width: 60rem) {
                button.mobile-btn {
                  display: block;
                  cursor: pointer;
                }
            }
        }

        .search {
            margin-left: 0;
        }

        .custom-logo {
            max-width: 15.375rem; 
        }

        .branding-wrapper {
            @media only screen and (min-width:968px){
                padding: 0.75rem 1.5rem;
             }
        }
        
    }

    &__widget {

        .branding-wrapper {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }

       
            .site-branding {
                max-width: 240px;
                text-align: center;
                a{
                    text-decoration: none;
                    font-size: 1.4rem;
                }
        }

        @media (min-width: 48rem) {

            .branding-wrapper {
                flex-direction: row;
                text-align: center;
                justify-content: center;
            }

           

            .header-widget-wrapper {
                max-width: 60%;
            }

            .main-navigation {
                max-width: 100%;
            }
        }
        
        .nav-wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .search__form-wrapper {
            width: 100%;
            display: none;
            #searchform_header{
                text-align: center;
            }
        }
    }
}



.toggle-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
    border-radius: 30px;
    padding: 5px;
    cursor: pointer;
    width: 60px;
    height: 30px;
    position: relative;
    border: none;
    outline: none;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.toggle-button.active {
    background-color: #333;
}

.toggle-slider {
    width: 28px;
    height: 28px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: 1px;
    transition: transform 0.3s ease;
}

.toggle-button.active .toggle-slider {
    transform: translateX(30px);
}

.toggle-slider img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.top-header{
    background: var(--header-bg);
}
