// Navigation Styling
.main-navigation {
    width: auto;
    display: none;

    @media (min-width: 60rem) {
        display: block;
    }

    li {
        position: relative;
    }

    div.menu {

        > ul {
            flex-wrap: wrap;
            column-gap: .75rem;

            ul {
                visibility: hidden;
                display: flex;
                flex-direction: column;
                box-shadow: none;
                position: absolute;
                background-color: $grey-bg;
                width: 12.5rem;
                background-color: rgba(255,255,255,0.05);
                padding: 0;
                margin: 0;
                background: var(--light-color);
                 border-radius: 0px 0px 20px 20px;
                 box-shadow: 0 15px 30px #12121338;
                 z-index: 99;

                a {
                    padding: 0.5rem 1.25rem;
                    font-weight: 600;
                }

                > li {

                    &:not(:first-child) > a {
                        box-shadow: 0 -1px 0 #dddddd;
                        
                    }

                    &:not(:last-child) {
                        box-shadow: 0 1px 0 white;
                    }
                }
            }

            > li {
                // margin: 0.5rem 1rem;

                &.menu-item-has-children {
                        
                    > a {
                        display: flex;
                        align-items: center;

                        &:after {
                            content: "\f347";
                            font-family: "Dashicons";
                            margin-left: 0.5rem;
                        }
                    }
                }

                > a {
                    padding: 0.5rem 0;
                }

                > ul {
                    left: 0;

                    ul {
                        left: 100%;
                    }
                }

                &:hover > ul,
                &:focus-within > ul {
                    visibility: visible;
                }
            }
        }
    }
}

.hamburger {
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    display: flex;
    align-items: center;
    cursor: pointer;

    &:before {
        position: absolute;
        content: "";
        width: 100%;
        height: 1px;
        background-color: var(--wp--preset--color--black);
        box-shadow: 0px 6px 0px var(--wp--preset--color--black);
        transition: all 100ms ease;
    }

    &:after {
        position: absolute;
        content: "";
        right: 0;
        width: 100%;
        height: 1px;
        background-color: var(--wp--preset--color--black);
        box-shadow: 0px -6px 0px var(--wp--preset--color--black);
        transition: all 100ms ease;
    }
}

button.mobile-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    padding: 0;
    border: 0;
    width: 2rem;
    height: 2rem;
    
    @media (min-width: 60rem) {
        display: none;
    }
}

#mobileMenu {
	position: fixed;
	top: 0;
	width: 60%;
    max-width: 25rem;
	height: 100%;
	right: 0;
	z-index: 999;
	text-align: left;
	overflow-y: auto;
	@include transform(translateX(100%));
	@include transition(transform 300ms ease-out);
    .search__form-wrapper{
        display: block;
    }


    &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        right: 0;
        background-color: var(--primary-color);
        filter: brightness(80%);
        z-index: -1;
    }

    .indofinance-cta {
        position: relative;
        margin: 15px;
    }
	.go-to-top {
		background: none;
		float: left;
		border: 0;
		i {
			color: white;
	  	}
	}
	.go-to-bottom {
		background: none;
		float: right;
		border: 0;
		i {
			color: white;
		}
	}

    a {
        display: block;
        color: white;
        text-decoration: none;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    div.menu-top {
        margin-bottom: 1.25rem;

        > ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        a {
            margin: 0.25rem 0.75rem;
            font-size: 0.875rem;
        }
    }

	ul.mobile-menu {
		margin-left: 0px;
		padding: 0px;
		width: 100%;

	    li {
			list-style: none;
			padding: 0;
			margin: 0;
			position: relative;

            &:not(:last-child) {
                border-bottom: solid 1px rgba(255,255,255,0.1);
            }

			&:before {
				display: none;
			}

		    a {
		        padding: 0.625rem 0.75rem;
		    }
	    }
	    li.menu-item-has-children {
	        display: block;

            > a {
                width: calc(100% - 2.75rem);
            }

	        span.dropdown-arrow {
	            position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
	            height: 2.75rem;
	            width: 2.75rem;
	            top: 0;
	            right: 0;
	            display: flex;
	            justify-content: center;
	            align-content: center;
                border-left: solid 1px rgba(255,255,255,0.1);
	            cursor: pointer;

                &:focus {
                    border: solid 1px white;
                    background-color: white;
                    outline: none;

                    svg {
                        fill: var(--primary-color); 
                    }
                }
	        }
	        ul {
				display: none;

                > li > a {
                    padding-left: 2rem;
                }
	        }
	    }
	}

    ul.sub-menu {
        background-color: rgba(255,255,255,0.05);
        padding: 0;
        margin: 0;
    }

	&.expanded {
		@include transform(translateX(0%));
        box-shadow: 0 0 20px rgba(0,0,0,0.25);
	}

	.admin-bar & {
		margin-top: 2.875rem;

        @media (min-width: 48.9375rem) {
            margin-top: 2rem;
        }
	}

    .search__input[type=search] {
        padding: 0.625rem 0.75rem;
        font-size: 1rem;
        font-weight: 600;
        border: solid 1px #e4e4e4;
        text-align: left;
        background: #fff;
        max-height: 45px;
        max-width: 100%;
        border-radius: 0px;
        &::placeholder {
            color: var(--secondary-color);
          }
    }
}

.close-menu-wrapper {
    border-bottom: solid 1px rgba(255,255,255,0.1);
    margin-bottom: 1.25rem;
 

    button#close-menu {
        background-color: transparent;
        cursor: pointer;
        border: 0;
        padding: 0;
        height: 2.75rem;
        width: 2.75rem;
        color: white;
        border-radius: 0;
        border-right: solid 1px rgba(255,255,255,0.1);
        display: flex;
        justify-content: center;
        align-items: center;
        
        &:hover,
        &:focus {
            outline: none;
            border: solid 1px white;
            background-color: white;
            
            svg {
                fill: var(--primary-color);
            }
        }
    }
}