// Variables and Mixins for SCSS file
:root {
    --primary-color: #ffc906;
    --secondary-color: #101828; /* Add your new color */
    --header-bg: #182d57; /* Add your new color */
    --light-color: #fff; /* Add your new color */
    --light-bg: #f5f5f5;
}

$grey-bg: #f5f5f5;

