body #accordion-section-agencyup_pro_upsell h3 {
    background-image: linear-gradient(-200deg,#d6111e 0%,#202f5b 100%) !important;
    border-left: 0 !important;
    color: #fff !important;
    padding: 20px 20px 20px 20px;
}

li.customize-control-section-title {
    background-color: #ffffff;
    margin-top: 15px;
    padding: 0 10px;
    border-bottom: 1px solid #ddd;
    border-left: 4px solid #00a0d2;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
}
li.customize-control-section-title h3 {
    color: #707070;
}