/*@top_drawer_bg_color:		#2f2f2f;
@top_drawer_text_color:	#c5c5c5;
@top_bar_bg_color:		rgba(51,51,51,1);
@top_bar_text_color:		#c5c5c5;
@primary_color:			#ffb600;
@secondary_color:			#222222;
@text_color:				#8f8f8f;
@heading_color:			#222222;
@bold_color:				#222222;
@footer_bg_color:			#2F2F2F;
@footer_text_color:		#afafaf;
@footer_heading_text_color:#FFFFFF;
@bottom_bar_bg_color:		#292929;
@bottom_bar_text_color:	#828282;
@link_color:				#ffb600;
@link_color_hover:		#ffb600;
@link_color_active:		#ffb600;
@menu_font:				'Roboto';
@secondary_font:				'Oswald';
@primary_font:				'Lato';
@page_title_text_color:	#FFFFFF;
@page_title_bg_color:		#2a2a2a;
@page_title_overlay_color:	#000000;
@page_title_overlay_opacity:	0.4;
@logo_max_height:	76px;
@logo_padding:	10px;
@menu_text_color:	#191919;
@menu_sub_bg_color:	#ffffff;
@menu_sub_text_color:	#888888;
@theme_url:"http://localhost/themes/darna/wp-content/themes/darna/";*/
.edit-post-layout__content[data-site_layout="none"] .wp-block[data-align="full"],
.edit-post-layout__content[data-site_layout="none"] .wp-block[data-align="wide"],
.edit-post-layout__content[data-site_layout="none"] .wp-block {
  max-width: 1170px;
}
.editor-block-list__layout .editor-block-list__block[data-align="full"] {
  margin-left: auto;
  margin-right: auto;
}
.editor-styles-wrapper ul.wp-block-gallery {
  padding: 0;
}
.editor-styles-wrapper .wp-block-quote:not(.is-large):not(.is-style-large) {
  border-left: 10px solid #ffb600;
  padding: 20px 30px;
}
.editor-styles-wrapper .wp-block-quote:not(.is-large):not(.is-style-large) p {
  font-size: 18px;
  margin-bottom: 0;
}
.editor-styles-wrapper .wp-block-quote:not(.is-large):not(.is-style-large).has-text-align-right {
  border-left: none;
  border-right: 10px solid #ffb600;
}
.editor-styles-wrapper .wp-block-pullquote blockquote:not(.is-large):not(.is-style-large) {
  padding: 0;
  border-left: none;
  background-color: transparent;
  margin-bottom: 0;
}
.editor-styles-wrapper .wp-block-quote.is-style-large,
.editor-styles-wrapper .wp-block-quote.is-large {
  border-left: solid 10px #ffb600;
  padding: 20px 30px;
}
.editor-styles-wrapper .wp-block-quote.is-style-large p,
.editor-styles-wrapper .wp-block-quote.is-large p {
  font-size: 24px;
  margin-bottom: 0;
}
.editor-styles-wrapper .wp-block-quote.is-style-large .wp-block-quote__citation,
.editor-styles-wrapper .wp-block-quote.is-large .wp-block-quote__citation {
  font-size: 18px;
}
.editor-styles-wrapper .wp-block-button__link {
  display: inline-block;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  text-transform: uppercase;
  border: 2px solid;
  padding: 6px 20px;
  font-size: 13px;
}
.editor-styles-wrapper .wp-block-button__link:hover,
.editor-styles-wrapper .wp-block-button__link:active {
  text-decoration: none !important;
  outline: none !important;
}
.editor-styles-wrapper .wp-block-button__link i {
  margin-right: 5px;
}
.editor-styles-wrapper .wp-block-button__link.icon-right i {
  margin-right: 0;
  margin-left: 5px;
}
.editor-styles-wrapper .wp-block-button__link:not(.has-text-color) {
  color: #fff;
}
.editor-styles-wrapper .wp-block-button__link:not(.has-background):not(.has-text-color) {
  background-color: #ffb600;
  border-color: #ffb600;
  color: #fff;
}
.editor-styles-wrapper .wp-block-button__link:not(.has-background):not(.has-text-color):hover {
  background-color: #222222;
  border-color: #222222;
  color: #fff;
}
.editor-styles-wrapper .wp-block-button__link:not(.has-background):not(.has-text-color) {
  border: 2px solid #ffb600;
  background-color: #ffb600;
  color: #fff;
}
.editor-styles-wrapper .wp-block-button__link:not(.has-background):not(.has-text-color):hover,
.editor-styles-wrapper .wp-block-button__link:not(.has-background):not(.has-text-color).active {
  color: #fff;
  background-color: #222222;
  border-color: #222222;
}
.editor-styles-wrapper .wp-block-button:not(.is-style-squared) .wp-block-button__link {
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}
.editor-styles-wrapper .wp-block-button:not(.is-style-outline) .wp-block-button__link:hover,
.editor-styles-wrapper .wp-block-button:not(.is-style-outline) .wp-block-button__link:focus,
.editor-styles-wrapper .wp-block-button:not(.is-style-outline) .wp-block-button__link:active {
  color: #fff;
  background-color: #333;
  border-color: #333;
}
.editor-styles-wrapper .wp-block-button:not(.is-style-outline) .wp-block-button__link.has-background,
.editor-styles-wrapper .wp-block-button:not(.is-style-outline) .wp-block-button__link.has-text-color {
  border-color: transparent;
}
.editor-styles-wrapper .wp-block-button.is-style-outline .wp-block-button__link {
  background: transparent !important;
  border: 2px solid currentcolor;
}
.editor-styles-wrapper .wp-block-button.is-style-outline .wp-block-button__link:hover,
.editor-styles-wrapper .wp-block-button.is-style-outline .wp-block-button__link:focus,
.editor-styles-wrapper .wp-block-button.is-style-outline .wp-block-button__link:active {
  color: #ffb600;
}
.editor-styles-wrapper .wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color) {
  color: #ffb600;
}
.editor-styles-wrapper .wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color):hover,
.editor-styles-wrapper .wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color):focus,
.editor-styles-wrapper .wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color):active {
  color: #333;
}
.editor-styles-wrapper .wp-block-table > thead > tr > th,
.editor-styles-wrapper .wp-block-table > tbody > tr > th,
.editor-styles-wrapper .wp-block-table > tfoot > tr > th,
.editor-styles-wrapper .wp-block-table > thead > tr > td,
.editor-styles-wrapper .wp-block-table > tbody > tr > td,
.editor-styles-wrapper .wp-block-table > tfoot > tr > td {
  border: none;
  border-top: 1px solid #eeeeee;
}
.editor-styles-wrapper .wp-block-table > thead > tr > th {
  border-bottom: 1px solid #eeeeee;
}
.editor-styles-wrapper table > tbody + tbody {
  border-top: 1px solid #eeeeee;
}
.editor-styles-wrapper .wp-block-gallery,
.editor-styles-wrapper .wp-block-columns,
.editor-styles-wrapper .wp-block-group,
.editor-styles-wrapper .wp-block-group.has-background,
.editor-styles-wrapper .wp-block-search,
.editor-styles-wrapper .wp-block-categories,
.editor-styles-wrapper .wp-block-archives,
.editor-styles-wrapper .wp-block-archives.wp-block-archives-dropdown,
.editor-styles-wrapper ol.wp-block-latest-comments,
.editor-styles-wrapper .wp-block-media-text,
.editor-styles-wrapper .wp-block-embed,
.editor-styles-wrapper .wp-block-button {
  margin-bottom: 20px;
}
.editor-styles-wrapper .wp-block-cover-image,
.editor-styles-wrapper .wp-block-cover {
  margin-bottom: 20px;
  color: #f8f9f9;
}
.editor-styles-wrapper .wp-block-cover-image p,
.editor-styles-wrapper .wp-block-cover p {
  margin-bottom: 0;
  line-height: 1.25;
}
.editor-styles-wrapper .wp-block-cover-image a,
.editor-styles-wrapper .wp-block-cover a {
  color: inherit !important;
}
.editor-styles-wrapper .blocks-gallery-caption {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
.editor-styles-wrapper .blocks-gallery-grid {
  margin-bottom: -16px;
}
.editor-styles-wrapper .wp-block-column > *:last-child {
  margin-bottom: 0;
}
.editor-styles-wrapper .wp-block-categories select,
.editor-styles-wrapper .wp-block-archives select {
  width: 100%;
  max-width: 100%;
}
.editor-styles-wrapper .components-icon-button {
  overflow: hidden;
}
@media (min-width: 600px) {
  .editor-block-list__layout .editor-block-list__block[data-align=full] > .editor-block-list__block-edit {
    margin-left: -28px;
    margin-right: -28px;
  }
}
.block-library-classic__toolbar.block-library-classic__toolbar {
  margin: 0 -14px;
}
.wp-block-button:not(.is-style-outline) .wp-block-button__link:hover,
.wp-block-button:not(.is-style-outline) .wp-block-button__link:focus,
.wp-block-button:not(.is-style-outline) .wp-block-button__link:active {
  background-color: #333 !important;
  color: #fff !important;
}
.wp-block-button:not(.is-style-outline) .wp-block-button__link.has-background,
.wp-block-button:not(.is-style-outline) .wp-block-button__link.has-text-color {
  border-color: transparent !important;
}
.wp-block-button.is-style-outline .wp-block-button__link:hover,
.wp-block-button.is-style-outline .wp-block-button__link:focus,
.wp-block-button.is-style-outline .wp-block-button__link:active {
  color: #ffb600 !important;
}
.wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color):hover,
.wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color):focus,
.wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color):active {
  color: #333 !important;
}
.edit-post-visual-editor__post-title-wrapper .editor-post-title.editor-post-title,
.editor-post-title__block.editor-post-title__block .editor-post-title__input {
  text-transform: uppercase !important;
  font-size: 24px !important;
  color: #222222 !important;
}
.wp-block-freeform.block-library-rich-text__tinymce blockquote {
  border-left: 10px solid #ffb600;
  padding: 20px 30px;
  box-shadow: none;
  margin: 20px 0;
}
.wp-block-freeform.block-library-rich-text__tinymce blockquote p {
  font-size: 18px;
}
.wp-block-freeform.block-library-rich-text__tinymce a {
  color: #ffb600;
}
.wp-block-freeform.block-library-rich-text__tinymce a:hover {
  text-decoration: underline;
  color: #ffb600;
}
.wp-block-freeform.block-library-rich-text__tinymce a:active {
  color: #ffb600;
}
.mce-item-table.mce-item-table {
  border: none;
}
.mce-item-table.mce-item-table td,
.mce-item-table.mce-item-table th {
  border: none;
  border-top: 1px solid #eeeeee;
}
.wp-block-freeform.block-library-rich-text__tinymce code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}
.wp-block-quote__citation {
  color: #6c7781;
  font-size: 13px;
  margin-top: 1em;
  position: relative;
  font-style: normal;
}
