/*@top_drawer_bg_color:		#2f2f2f;
@top_drawer_text_color:	#c5c5c5;
@top_bar_bg_color:		rgba(51,51,51,1);
@top_bar_text_color:		#c5c5c5;
@primary_color:			#ffb600;
@secondary_color:			#222222;
@text_color:				#8f8f8f;
@heading_color:			#222222;
@bold_color:				#222222;
@footer_bg_color:			#2F2F2F;
@footer_text_color:		#afafaf;
@footer_heading_text_color:#FFFFFF;
@bottom_bar_bg_color:		#292929;
@bottom_bar_text_color:	#828282;
@link_color:				#ffb600;
@link_color_hover:		#ffb600;
@link_color_active:		#ffb600;
@menu_font:				'Roboto';
@secondary_font:				'Oswald';
@primary_font:				'Lato';
@page_title_text_color:	#FFFFFF;
@page_title_bg_color:		#2a2a2a;
@page_title_overlay_color:	#000000;
@page_title_overlay_opacity:	0.4;
@logo_max_height:	76px;
@logo_padding:	10px;
@menu_text_color:	#191919;
@menu_sub_bg_color:	#ffffff;
@menu_sub_text_color:	#888888;
@theme_url:"http://localhost/themes/darna/wp-content/themes/darna/";*/
.mce-content-body {
  line-height: 2;
}
a,
a:focus,
a:hover {
  outline: none;
  text-decoration: none;
}
body {
  line-height: 2;
  color: #8f8f8f;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  font-family: 'Lato';
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 400;
  color: #222222;
}
img {
  max-width: 100%;
  height: auto;
}
iframe,
img {
  margin: 0;
  padding: 0;
}
p {
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
  line-height: 2;
  font-size: 14px;
}
::selection {
  background: #ffb600;
  color: #ffffff;
}
a,
a:hover,
a.active {
  color: inherit;
  text-decoration: none;
  outline: none;
}
a:hover,
a.active {
  color: #ffb600;
}
input,
textarea,
button,
select {
  outline: none;
}
input[type="text"],
input[type="search"],
input[type="email"],
input[type="url"],
input[type="password"],
textarea {
  padding: 0 20px;
  font-size: 14px;
  color: #8f8f8f;
  height: 40px;
  line-height: 1;
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
input[type="text"]:focus,
input[type="search"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus {
  border-color: #ffb600;
}
textarea {
  height: auto;
  padding-top: 15px;
}
select {
  max-width: 100%;
  border: 1px solid #eeeeee;
  background-color: #fff;
  padding: 0 20px;
  font-size: 14px;
  color: #bababa;
  height: 40px;
  line-height: 1;
}
table {
  border-collapse: collapse !important;
}
table td,
table th {
  background-color: #fff;
}
table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}
table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #eeeeee;
}
table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 1px solid #eeeeee;
}
table > caption + thead > tr:first-child > th,
table > colgroup + thead > tr:first-child > th,
table > thead:first-child > tr:first-child > th,
table > caption + thead > tr:first-child > td,
table > colgroup + thead > tr:first-child > td,
table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
table > tbody + tbody {
  border-top: 1px solid #eeeeee;
}
blockquote {
  padding: 20px 30px;
  font-size: 18px;
  font-style: italic;
  font-weight: 300;
  background-color: #f3f3f3;
  color: #2a2a2a;
  border-left: 10px solid #ffb600;
}
a {
  color: #ffb600;
}
a:hover {
  text-decoration: underline;
  color: #ffb600;
}
a:active {
  color: #ffb600;
}
dd,
dt {
  line-height: 2;
}
.alignnone {
  margin: 15px 15px 0 0;
}
.aligncenter,
div.aligncenter {
  display: block;
  margin: 15px auto 15px auto;
}
.alignright {
  float: right;
  margin: 15px 0 15px 15px;
}
.alignleft {
  float: left;
  margin: 15px 15px 15px 0;
}
.aligncenter {
  display: block;
  margin: 15px auto 15px auto;
}
a img.alignright {
  float: right;
  margin: 15px 0 0 15px;
}
a img.alignnone {
  margin: 15px 15px 0 0;
}
a img.alignleft {
  float: left;
  margin: 15px 15px 0 0;
}
a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.wp-caption {
  background: #fff;
  text-align: center;
  max-width: 100%;
}
.wp-caption.alignnone {
  margin: 15px 15px 30px 0;
}
.wp-caption.alignleft {
  margin: 15px 15px 30px 0;
}
.wp-caption.alignright {
  margin: 15px 0 30px 15px;
}
.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  padding: 0;
  width: auto;
}
.wp-caption p.wp-caption-text {
  font-size: 0.9em;
  font-style: italic;
  opacity: 0.7;
  line-height: 17px;
  margin: 1em 0 0 0;
  padding: 0 10%;
}
.wp-post-image {
  height: auto;
  max-width: 100%;
}
.sticky {
  opacity: 1;
}
.gallery {
  margin-bottom: 20px;
  margin-left: -4px;
}
.gallery:before {
  content: "";
  display: table;
}
.gallery:after {
  clear: both;
  content: "";
  display: block;
}
.gallery-item {
  float: left;
  margin: 0 4px 4px 0;
  overflow: hidden;
  position: relative;
}
.gallery-columns-1.gallery-size-medium,
.gallery-columns-1.gallery-size-thumbnail,
.gallery-columns-2.gallery-size-thumbnail,
.gallery-columns-3.gallery-size-thumbnail {
  display: table;
  margin: 0 auto 20px;
}
.gallery-columns-1 .gallery-item,
.gallery-columns-2 .gallery-item,
.gallery-columns-3 .gallery-item {
  text-align: center;
}
.gallery-columns-4 .gallery-item {
  max-width: 23%;
  max-width: -webkit-calc(21%);
  max-width: calc(21%);
}
.gallery-columns-5 .gallery-item {
  max-width: 19%;
  max-width: -webkit-calc(16%);
  max-width: calc(16%);
}
.gallery-columns-6 .gallery-item {
  max-width: 15%;
  max-width: -webkit-calc(12.7%);
  max-width: calc(12.7%);
}
.gallery-columns-7 .gallery-item {
  max-width: 13%;
  max-width: -webkit-calc(10.28%);
  max-width: calc(10.28%);
}
.gallery-columns-8 .gallery-item {
  max-width: 11%;
  max-width: -webkit-calc(8.5%);
  max-width: calc(8.5%);
}
.gallery-columns-9 .gallery-item {
  max-width: 9%;
  max-width: -webkit-calc(7.1%);
  max-width: calc(7.1%);
}
.gallery-columns-1 .gallery-item:nth-of-type(1n),
.gallery-columns-2 .gallery-item:nth-of-type(2n),
.gallery-columns-3 .gallery-item:nth-of-type(3n),
.gallery-columns-4 .gallery-item:nth-of-type(4n),
.gallery-columns-5 .gallery-item:nth-of-type(5n),
.gallery-columns-6 .gallery-item:nth-of-type(6n),
.gallery-columns-7 .gallery-item:nth-of-type(7n),
.gallery-columns-8 .gallery-item:nth-of-type(8n),
.gallery-columns-9 .gallery-item:nth-of-type(9n) {
  margin-right: 0;
}
.gallery-columns-1.gallery-size-medium figure.gallery-item:nth-of-type(1n+1),
.gallery-columns-1.gallery-size-thumbnail figure.gallery-item:nth-of-type(1n+1),
.gallery-columns-2.gallery-size-thumbnail figure.gallery-item:nth-of-type(2n+1),
.gallery-columns-3.gallery-size-thumbnail figure.gallery-item:nth-of-type(3n+1) {
  clear: left;
}
.gallery-caption {
  background-color: rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
  color: #fff;
  font-size: 14px;
  line-height: 1.3;
  margin: 0;
  max-height: 50%;
  opacity: 0;
  padding: 2px 8px;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: left;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
  width: 100%;
}
.gallery-caption:before {
  box-shadow: 0 -10px 15px #000000 inset;
  content: "";
  height: 100%;
  min-height: 49px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.gallery-item:hover .gallery-caption {
  opacity: 1;
}
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
  display: none;
}
