/*
Theme Name: 	   Crombit
Text Domain: 	   crombit
Template: 			cosmobit
Version:            1.0.39
Tested up to:       6.8
Requires at least:  4.7
Requires PHP:       5.6
Author:             DesertThemes
Author URI:         https://desertthemes.com/
Theme URI:          https://desertthemes.com/themes/crombit-free/
Description:        Crombit is lightweight, highly extendable and multi-purpose WordPress Theme, it will enable you to create almost any type of website with a beautiful & professional design. Crombit supports popular WordPress plugins such as Elementor, WPML, Polylang, Yoast SEO, WooCommerce, Contact Form 7, Jetpack, and much more. Crombit Pro demo https://preview.desertthemes.com/pro/crombit/
Tags:               one-column, two-columns ,right-sidebar, flexible-header, custom-background, custom-header, custom-menu, editor-style, featured-images, footer-widgets, post-formats, theme-options, threaded-comments, translation-ready, full-width-template, custom-logo, blog, e-commerce, portfolio
License: GPLv3 or later
License URI:  https://www.gnu.org/licenses/gpl-3.0.html

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned
with others.
 */

 :root {
    --dt-base-color: #606060;
    --dt-pri-color: #F79C53;
    --dt-sec-color: #323F7C;
    --dt-whi-color: #ffffff;
    --dt-gray-high: #f6f6f6;
    --dt-base-font: "Roboto", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --dt-title-font: "Roboto", sans-serif;
    --dt-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.dt-container {
    max-width: 1312px;
}

.header--fifteen .dt__header-topbar {
    background: transparent;
}

.header--fifteen .dt-container {
    padding: 0;
}

.header--fifteen .dt-row {
    --dt-gutter-x: 0;
}

.header--fifteen .dt-container {
    max-width: 100%;
}

.header--fifteen .dt__header-topbar,
.header--fifteen .dt__navbar-menu {
    padding-left: 3.2rem;
    padding-right: 3.2rem;
}

.header--fifteen.dt__header .dt-col-2.dt-my-auto {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}

.header--fifteen.dt__header .dt-col-2.dt-my-auto+.dt-col-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
}

.header--fifteen .site--logo {
    display: flex;
    align-items: center;
    min-height: 12.8rem;
    padding: 2.5rem;
    background-color: var(--dt-sec-color);
    border-top-right-radius: 5rem;
}

.header--fifteen .dt__header-navwrapperinner,
.header--fifteen .dt__navbar-menu {
    min-height: 7.5rem;
}

.header--fifteen .dt__navbar-menu {
    justify-content: space-between;
    gap: 1.6rem;
}


.dt__slider.dt__slider--one .dt__slider-content h3 {
    font-size: 1.8rem;
    line-height: 1;
    border-radius: 0.5rem;
    padding: 1rem 1.8rem;
    background-color: var(--dt-pri-color);
    color: var(--dt-whi-color);
}

.header--fifteen .dt__mobilenav-menu {
    padding: 0 2rem 0 0;
}

/* dt__infoservices--eleven */

.dt__infoservices--eleven .dt__infoservices-row {
    margin-top: -9.8rem;
    --dt-gutter-x: 3rem;
    --dt-gutter-y: 3rem;
}

.dt__infoservices--eleven .dt__infoservices-block {
    position: relative;
    width: 100%;
    height: 100%;
    isolation: isolate;
    outline: 1px solid rgba(189, 189, 189, 0.5);
    overflow: hidden;
    min-height: 380px;
    background-color: #fff;
    border-radius: 6px;
    -webkit-transition: all .3s ease 0s;
    -khtml-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -ms-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
}

.dt__infoservices--eleven .dt__infoservices-block .image {
    position: absolute;
    top: 26px;
    right: 26px;
    width: 171px;
    height: 163px;
    border-radius: 8px 8px 8px 285px;
    overflow: hidden;
    transition: all .4s ease;
    z-index: 3;
}

.dt__infoservices--eleven .dt__infoservices-block .image.hover {
    z-index: 2;
}

.dt__infoservices--eleven .dt__infoservices-block .image .image-inner,
.dt__infoservices--eleven .dt__infoservices-block .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dt__infoservices--eleven .dt__infoservices-block .image .image-inner {
    position: relative;
}

.dt__infoservices--eleven .dt__infoservices-block .image .image-inner::after {
    position: absolute;
    content: '';
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(34, 48, 53, .85);
    z-index: 1;
}

.dt__infoservices--eleven .dt__infoservices-block.active .image.hover,
.dt__infoservices--eleven .dt__infoservices-block:hover .image.hover,
.dt__infoservices--eleven .dt__infoservices-block:focus-within .image.hover {
    top: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 6px;
}

.dt__infoservices--eleven .dt__infoservices-block .dt__infoservices-inner {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: end;
    bottom: 0;
    left: 0;
    padding: 30px;
    -webkit-transition: all .3s ease 0s;
    -khtml-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -ms-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    z-index: 2;
    background: 0 0;
    overflow: hidden;
}

.dt__infoservices--eleven .dt__infoservices-block.active .dt__infoservices-inner,
.dt__infoservices--eleven .dt__infoservices-block:hover .dt__infoservices-inner,
.dt__infoservices--eleven .dt__infoservices-block:focus-within .dt__infoservices-inner {
    opacity: 0;
    transform: translateY(100%);
}

.dt__infoservices--eleven .dt__infoservices-block .dt__infoservices-inner .dt__infoservices-icon {
    margin-bottom: 16px;
}

.dt__infoservices--eleven .dt__infoservices-block .dt__infoservices-inner .icon {
    display: inline-block;
    width: 6.5rem;
    height: 6.5rem;
    line-height: 6.5rem;
    background-color: var(--dt-pri-color);
    color: #fff;
    text-align: center;
    border-radius: 100%;
    font-size: 3.2rem;
}

.dt__infoservices--eleven .dt__infoservices-block .dt__infoservices-inner .title {
    color: var(--dt-sec-color);
}

.dt__infoservices--eleven .dt__infoservices-block .dt__infoservices-inner .title {
    margin-bottom: 12px;
}

.dt__infoservices--eleven .dt__infoservices-block .dt__infoservices-inner .more-link,
.dt__infoservices--eleven .dt__infoservices-block .dt__infoservices-inner .text,
.dt__infoservices--eleven .dt__infoservices-block .dt__infoservices-inner .title,
.dt__infoservices--eleven .dt__infoservices-block .dt__infoservices-inner .title a {
    -webkit-transition: all .3s linear 0s;
    -khtml-transition: all .3s linear 0s;
    -moz-transition: all .3s linear 0s;
    -ms-transition: all .3s linear 0s;
    -o-transition: all .3s linear 0s;
    transition: all .3s linear 0s;
}

.dt__infoservices--eleven .dt__infoservices-block .dt__infoservices-inner .text {
    font-size: 17px;
    margin-top: 0;
}

.dt__infoservices--eleven .dt__infoservices-block .dt__infoservices-inner.hover {
    opacity: 0;
    height: 100%;
}

.dt__infoservices--eleven .dt__infoservices-block.active .dt__infoservices-inner.hover,
.dt__infoservices--eleven .dt__infoservices-block:hover .dt__infoservices-inner.hover,
.dt__infoservices--eleven .dt__infoservices-block:focus-within .dt__infoservices-inner.hover {
    opacity: 1;
    transform: translateX(0);
}

.dt__infoservices--eleven .dt__infoservices-block.active .dt__infoservices-inner.hover .title,
.dt__infoservices--eleven .dt__infoservices-block:hover .dt__infoservices-inner.hover .title,
.dt__infoservices--eleven .dt__infoservices-block:focus-within .dt__infoservices-inner.hover .title {
    margin-bottom: 3px;
}

.dt__infoservices--eleven .dt__infoservices-block.active .dt__infoservices-inner.hover .more-link,
.dt__infoservices--eleven .dt__infoservices-block:hover .dt__infoservices-inner.hover .more-link,
.dt__infoservices--eleven .dt__infoservices-block:focus-within .dt__infoservices-inner.hover .more-link {
    margin-top: 1.5rem;
}

.dt__infoservices--eleven .dt__infoservices-block .dt__infoservices-inner.hover .text {
    margin-bottom: 0;
}

.dt__infoservices--eleven .dt__infoservices-block .dt__infoservices-inner.hover .text,
.dt__infoservices--eleven .dt__infoservices-block.active .dt__infoservices-inner.hover .title a,
.dt__infoservices--eleven .dt__infoservices-block:hover .dt__infoservices-inner.hover .title a,
.dt__infoservices--eleven .dt__infoservices-block:focus-within .dt__infoservices-inner.hover .title a,
.dt__infoservices--eleven .dt__infoservices-block.active .dt__infoservices-inner.hover .title,
.dt__infoservices--eleven .dt__infoservices-block:hover .dt__infoservices-inner.hover .title,
.dt__infoservices--eleven .dt__infoservices-block:focus-within .dt__infoservices-inner.hover .title {
    color: #fff;
}

.dt__infoservices--eleven .dt__infoservices-block .more-link {
    width: 3.6rem;
    height: 3.6rem;
    line-height: 3.6rem;
    background-color: #fff;
    text-align: center;
    color: var(--dt-sec-color);
    border-radius: 5px;
}

.dt__infoservices--eleven .dt__infoservices-block .more-link i {
    font-size: 2.6rem;
    transform: rotate(0deg);
    vertical-align: middle;
    margin-left: 1px;
    -webkit-transition: var(--dt-transition);
    transition: var(--dt-transition);
}

.dt__infoservices--eleven .dt__infoservices-block .more-link:hover i { 
    transform: rotate(360deg);
}

.wc-block-grid__product-add-to-cart.wp-block-button .wp-block-button__link {
    color: #fff !important;
	text-decoration: none;
}

.wc-block-grid__product-add-to-cart.wp-block-button .wp-block-button__link:hover, 
.wc-block-grid__product-add-to-cart.wp-block-button .wp-block-button__link:focus {
    color: #fff;
}

.wp-block-code.has-text-color code {
    color: inherit;
}

.wp-block-code.has-background code {
    background: inherit;
}

table.wc-block-cart-items .wc-block-cart-items__row .wc-block-components-product-name {
    font-size: 1.5rem;
}

.wc-block-components-product-metadata .wc-block-components-product-metadata__description>p {
    font-size: 1.2rem;
}

.wp-block-woocommerce-empty-mini-cart-contents-block .wc-block-mini-cart__empty-cart-wrapper p strong {
    font-size: 16px;
}

table.wc-block-cart-items .wc-block-components-product-price {
    font-size: 1.2rem;
}

.wp-block-post-author__avatar img {
    border-radius: 100%;
}

.wc-block-mini-cart__empty-cart-wrapper .wc-block-mini-cart__shopping-button:hover, 
.wc-block-mini-cart__empty-cart-wrapper .wc-block-mini-cart__shopping-button:focus {
    color: #fff;
}

.widget.widget_shopping_cart a:before {
    display:none
}

.widget .wc-block-grid__products a:before {
    display: none;
}

.has-background.wp-block-post-author {
    padding: 1rem;
}

table.wc-block-cart-items .wc-block-cart-items__row .wc-block-cart-item__quantity .wc-block-cart-item__remove-link {
    font-size: 1rem !important;
}

.wp-block-details summary {
    font-weight: 600;
    padding: 10px;
}

.wc-block-components-totals-item__value {
    font-size: 1.5rem;
}

.wc-block-mini-cart__footer-checkout, 
.wc-block-mini-cart__footer-checkout:hover, 
.wc-block-mini-cart__footer-checkout:focus {
    background-color: var(--dt-pri-color);
    color: #fff;
}

.wc-block-mini-cart__footer .wc-block-mini-cart__footer-actions a {
    text-decoration: none;
}

.aligncenter, img.aligncenter {
    margin-right: auto;
    margin-left: auto;
    display: block;
    clear: both;
}

.wc-block-mini-cart__badge {
    color: inherit;
}

table.wc-block-cart-items .wc-block-cart-items__row .wc-block-components-product-name {
    text-decoration: none;
}

.wc-block-mini-cart__footer .wc-block-mini-cart__footer-actions a {
    font-size: 1.2rem;
}

.wc-block-mini-cart__footer span.wc-block-components-totals-item__label {
    font-size: 1.5rem;
}

.wp-block-archives-list a {
    text-decoration: none;
}

.wc-block-mini-cart__footer .wc-block-components-totals-item.wc-block-mini-cart__footer-subtotal .wc-block-components-totals-item__description {
    font-size: 1.2rem !important;
}

table.wc-block-cart-items .wc-block-cart-items__row .wc-block-cart-item__quantity .wc-block-cart-item__remove-link {
    text-decoration: none !important;
}

.wp-block-latest-comments__comment a {
    text-decoration: none;
}

.wc-block-components-product-badge {
    font-size: 1rem !important;
}

.wc-block-components-totals-coupon-link {
    text-decoration: none;
}

table.wc-block-cart-items .wc-block-cart-items__row .wc-block-cart-item__quantity .wc-block-cart-item__remove-link:hover, 
table.wc-block-cart-items .wc-block-cart-items__row .wc-block-cart-item__quantity .wc-block-cart-item__remove-link:focus {
    color: var(--dt-pri-color) !important;
}

.wp-block-woocommerce-customer-account a .wc-block-customer-account__account-icon {
    height: 2rem !important;
    width: 2rem !important;
}

.dt_widget-area .wp-block-comment-author-name a,
.dt_widget-area .wp-block-comment-date a {
    color: var(--dt-sec-color);
}

.wp-block-avatar img {
    border-radius: 50%;
}

.wp-block-avatar:hover img {
    -webkit-transform: scale(1.07);
    transform: scale(1.07);
}

.wp-block-page-list {
    list-style: none;
    padding: 0;
}

.wp-block-page-list a {
    color: var(--dt-sec-color);
    text-decoration: none;
    font-weight: 600;
}